.navbar{
	background-color:#DCDCDC!important;
	border-radius:0px 0px 10px 10px;
	box-shadow:5px 5px 5px black;

}
body{
	background-image:url("bg.jpeg")!important;
}

.navbar-brand{
	color:purple!important;
	font-family: 'Rammetto One', cursive;
	font-weight:800;
	border:3px solid purple;
	padding:7px;
}

.navbar-light .navbar-nav .nav-link:hover{
	color:purple!important;
}

.navbar-light .navbar-text a{
border:2px solid purple;
background-color:!inherit;
padding:10px;
border-radius:15px;
color:rgba(0,0,0,.5);
}
.navbar-light .navbar-text a svg{

background-color:purple;
border-radius:25px;

}
.navbar-light .navbar-text a:hover{
	background-color:purple!important;
}